<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div
                        style="font-size:16px;text-align:center;font-family:Arial, Helvetica Neue, Helvetica, sans-serif">
                        <div style="margin-top: 24px; display: flex; justify-content: center">
                          <div
                            style="width: 100%; margin-bottom: 16px; --tw-bg-opacity: 1;
        background-color: rgba(255, 255, 255, var(--tw-bg-opacity)); --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow); border-radius: 0.25rem;">
                            <div style="margin: 8px; padding: 16px; font-size: 1rem;
            line-height: 1.5rem; font-weight: 400;">
                              <h4>Hi, </h4>
                              <p>To reset your password, please click on the following link:</p>

                              <a href={{link}} class="btn" rel="noreferrer"  role="button">
        Reset Password
      </a>
                              <br>            
                              <b>*If you did not request this, this email can be ignored and deleted.</b>
                              <br>
                              <p>Warm regards,</p>
                              <p>Crownstack ATS Team</p>
                            </div>
                          </div>
                        </div>
                      </div>
</body>
</html>