<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div>
    <p style=" font-family: Arial, Helvetica, sans-serif; ">Hello {{user}},</p>
    <p>Your account at Crownstack ATS has been deactivated by the admin.</p>
    <p>For more information contact admin at admin@crownstack.app</p>
  </div>
</body>

</html>